<!-- <!DOCTYPE html> -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/index.css">
    <!--    <script type="text/javascript" src="js/javascript03.js"></script>-->
    <script type="text/javascript" src="js/index.js"></script>
</head>

<body>
    <div id="div_container">
        <div id="div_fruit_list">
            <p class="center f30">欢迎使用水果库存后台管理系统</p>
            <div class="add">
                <a th:href="@{/add.do}">添加新库存记录</a>
            </div>
            <form th:action="@{/index}" method="post" class="search_bar">
                <input type="hidden" name="oper" value="search">
                请输入查询关键字: <input type="text" name="keyword" th:value="${session.keyword}">
                <input type="submit" value="查询"> 
            </form>
            <table id="tbl_fruit">
                <tr>
                    <th>名称</th>
                    <th>单价</th>
                    <th>库存</th>
                    <th>操作</th>
                </tr>
                <tr th:if="${#lists.isEmpty(session.fruitList)}">
                    <td colspan="4">对不起，库存为空！</td>
                </tr>
                <tr th:if="${not #lists.isEmpty(session.fruitList)}" th:each="fruit : ${session.fruitList}">
                    <!-- <td><a th:href="@{'/edit.do?fid=' + ${fruit.fid}}" th:text="${fruit.fname}">苹果</a></td> -->
                    <td><a th:href="@{/edit.do(fid=${fruit.fid}, fname=${fruit.fname})}" th:text="${fruit.fname}">苹果</a>
                    </td>
                    <td th:text="${fruit.price}">5</td>
                    <td th:text="${fruit.fcount}">20</td>
                    <td>
                        <!-- <img class="del_img" src="imgs/wastebasket.png" th:onclick="'delFruit('+${fruit.fid} +')'" /> -->
                        <img class="del_img" src="imgs/wastebasket.png" th:onclick="|delFruit(${fruit.fid})|" />
                    </td>
                </tr>
            </table>
            <div class="page_chooser">
                <input type="button" value="首页" th:onclick="|page(1)|" th:disabled="${session.pageNo == 1}">
                <input type="button" value="上一页" th:onclick="|page(${session.pageNo - 1})|"
                    th:disabled="${session.pageNo == 1}">
                <input type="button" value="下一页" th:onclick="|page(${session.pageNo + 1})|"
                    th:disabled="${session.pageNo == session.pageCount}">
                <input type="button" value="尾页" th:onclick="|page(${session.pageCount})|"
                    th:disabled="${session.pageNo == session.pageCount}">
            </div>
        </div>
    </div>
</body>

</html>